<div class ="mobileimg">
	
</div>

<section class="image-with-text image-with-text--full_background" style ="position:relative;" >
  <div class="image-with-text__inner grid grid--2-col-tablet">
    
    <div class="image-with-text__content
      image-with-text__content--{{ section.settings.text_size }}
       {% if section.settings.enable_secondary_text_color %} image-with-text__content--secondary-text-color{% endif %} 
       {% if section.settings.mobile_layout == 'top' %} image-with-text__content--mobile-image-top{% endif %}"> 

      
        <h2 class="header2stuff" style="margin-bottom:17px;">
          <b><i>Ruth IRL:</i></b><br/> Menstrual Hygiene Day Celebration
        </h2>
      


      <div class="image-with-text__text rte" style="font-size:25px;">Destigmatize the conversation around Menstruation<br/></div><div class="image-with-text__text rte">May 28 | GTA | Edmonton | Vancouver</div>


        <a class="image-with-text__button button lightbutton" href="http://getruth.hubspotpagebuilder.com/ruth_newsletter" target="_blank">
          Get Updates!
        </a>
      
    </div>

    
  </div>
</section>

<style>

.image-with-text--full_background{
  background-image: url("{{section.settings.image1| image_url: master}}");
  height:750px;
    background-position: center right;
    background-size: cover;
    
  }
  
  
  .lightbutton{
  color:#5D633B;
    background-color:#fff;
    box-shadow:8px 8px #5D633B;
    padding:22px 32px;
    margin-top:40px;

  
  }
  
  .lightbutton:hover{
  color:#fff;
    background-color:#5D633B;
  box-shadow:0px 0px 0 0rem #5D633B;
  }
  
    
  .header2stuff{
  font-family:"montserrat-v18-latin-600"!important;
  font-size:50px;
  color:#fff;
   text-shadow: 3px 3px 7px #5D633B;
  }
  
  .image-with-text__inner{
  padding:12rem 6rem;
  
  }
  
  .image-with-text__text{
  color:#fff;
   text-shadow: 3px 3px 7px #5D633B;
  font-family:"montserrat-v18-latin-600"!important;
  font-size:17px;
  }
  
  .mobileimg{
  display:none;
     background-image:url("{{section.settings.image2| image_url: master}}");
 height:300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  }
  
  .grid--2-col-tablet {
  grid-template-columns: repeat(1,1fr);
}
  
  
  @media only screen and (max-width: 600px) {
    
    .mobileimg{
      display:block;}
    
    .image-with-text--full_background{
    background-image:none;
    }
    
    .header2stuff{
    font-size:30px;
      color:#768052;
    margin:0rem 3.2rem;
      text-shadow:unset;
    }
    
    .image-with-text__text{
    	color:#768052;
      font-size:15px;
      margin:0rem 3.2rem;
      text-shadow:unset;
    }
    
    .lightbutton{
  color:#fff;
    background-color:#768052;
    box-shadow:8px 8px #C1CC7A;
    
    
margin:40px 3.2rem;
  
  }
    
    .image-with-text__inner{
  padding:5rem 1rem;
  
  }
    
    .image-with-text--full_background{
    height:unset;
    
    }
    
  }
</style>

{% schema %}
  {
    "name": "Banner Section",
    "settings": [
{"type": "image_picker",
      "id": "image1",
      "label": "Image 1"},
{"type": "image_picker",
      "id": "image2",
      "label": "Image 2"},
{ "type": "text", "id":
"Headline1", "label": "Headline 1" },
{ "type": "text", "id":
"Headline2", "label": "Headline 2" }

],

"presets":[
	{
		"category":"image",
		"name":"Banner Section"
  }]
}
{% endschema %}


