<div class="counter">
    <div class="counterCol">
        <img
            class="counterimg"
            src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/pads_icon_089718c5-110f-4ade-bfd3-78fc9b6ebd7a.png?v=1635907882"
        />
        <h1 class="counterNum">{{ section.settings.donated }}</h1>
        <h6 class="specialH6">Pads donated</h6>
    </div>
    <div class="counterCol">
        <img
            class="counterimg"
            src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/susty_icon_af2de7ee-c58b-4f11-abd2-cae63e95f796.png?v=1635907882"
        />
        <h1 class="counterNum">{{ section.settings.plastics }}</h1>
        <h6 class="specialH6">Kilograms of plastics diverted</h6>
    </div>
</div>

{% schema %} { "name": "Section name", "settings": [ { "type": "text", "id":
"plastics", "label": "Plastics diverted" }, { "type": "text", "id": "donated",
"label": "Pads donated" } ] } {% endschema %} {% stylesheet %} {% endstylesheet
%} {% javascript %} {% endjavascript %}
