<h5 class="specialH5" style="margin-top:50px;">Want to know more about our pads?</h5>
<p>Check out our facts page</p>
<a href="/pages/ruth-pads" style="text-decoration:inherit;"><button class="buttonMore">Learn More</button></a>

{% schema %}
  {
        "name": "Ruth Pads redirect",
        "settings": [
          
        ],
        "presets": [
                      {
                        "category":"image",
                        "name":"Ruth Pads Redirect"
    
                      }
    
    ]
      }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
