<h1 class="specialH1">Past Press</h1>
        <br /><br />

        <div class="section group">
            <div class="col span_1_of_4">
                <a
                    href="https://www.cbc.ca/news/canada/edmonton/hempact-waste-free-period-1.5258602"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_20Shot_202021-01-07_20at_202_57_edited.webp?v=1634518487"
                    />
                    <p class="columnHead">CBC News</p>
                    <p class="columnText">
                        Edmonton students pushing for waste-free menstrual
                        products
                    </p>
                </a>
            </div>

            <div class="col span_1_of_4">
                <a
                    href="https://edmonton.citynews.ca/video/2019/08/07/are-biodegradable-pads-the-future-of-menstrual-products/"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_20Shot_202021-01-07_20at_203_04_edited.webp?v=1634518487"
                    />
                    <p class="columnHead">City News</p>
                    <p class="columnText">
                        Are biodegradable pads the future of menstrual products?
                    </p>
                </a>
            </div>

            <div class="col span_1_of_4">
                <a
                    href="https://globalnews.ca/news/5753066/university-alberta-students-hemp-waste-eco-friendly-menstrual-products/"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_Shot_2021-01-07_at_3_20_37_PM.webp?v=1634518487"
                    />
                    <p class="columnHead">Global News</p>
                    <p class="columnText">
                        U of A students look to convert hemp waste into
                        eco-friendly menstrual products
                    </p>
                </a>
            </div>

            <div class="col span_1_of_4">
                <a
                    href="https://edmonton.citynews.ca/video/2019/06/01/uofa-students-on-a-mission-to-create-biodegradable-pads/"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_Shot_2021-01-07_at_3_14_45_PM.webp?v=1634518487"
                    />
                    <p class="columnHead">City News</p>
                    <p class="columnText">
                        UofA Students on a mission to create biodegradable pads
                    </p>
                </a>
            </div>
        </div>

        <div class="section group">
            <div class="col span_1_of_4">
                <a
                    href="https://thegatewayonline.ca/2019/05/hempact-aims-to-make-hemp-biodegradable-pads/"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_Shot_2021-01-07_at_3_16_41_PM.webp?v=1634518487"
                    />
                    <p class="columnHead">The Gateway</p>
                    <p class="columnText">
                        U of A social enterprise wins $10,000 to make
                        biodegradable menstrual pads a reality
                    </p>
                </a>
            </div>

            <div class="col span_1_of_4">
                <a
                    href="https://www.ualberta.ca/folio/2019/07/u-of-a-students-look-to-cut-plastic-waste-with-hemp-based-feminine-hygiene-products.html"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_Shot_2021-01-07_at_3_18_19_PM.webp?v=1634518486"
                    />
                    <p class="columnHead">Folio</p>
                    <p class="columnText">
                        U of A students look to cut plastic waste with
                        hemp-based feminine hygiene products
                    </p>
                </a>
            </div>

            <div class="col span_1_of_4">
                <a
                    href="https://www.ualberta.ca/international/about-uai/international-news-and-views/news/2019/may/wcc-2019.html"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_Shot_2021-01-07_at_3_24_53_PM.webp?v=1634518487"
                    />
                    <p class="columnHead">UAlberta International</p>
                    <p class="columnText">
                        Creating an impact: How UAlberta students are changing
                        the way we think about waste
                    </p>
                </a>
            </div>
        </div>

{% schema %}
  {
    "name": "Past Press",
    "settings": [],
"presets": [
                      {
                        "category":"image",
                        "name":"Past Press section"
    
                      }
    
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
