<div class="sectionDivBottom">
  <img src="{{section.settings.image1 | img_url:'master'}}" style="display: block;
  margin-left: auto;
  margin-right: auto;"/>
  <h3 class="TestimonialHeadline" style="padding-top:26px;">{{section.settings.Headline}}</h3>
  <p class="aboutparas">{{section.settings.Para}}</p>
  
  <a href="pages/about-us" style="text-decoration:inherit;"><button class="buttonMore">Learn More</button></a>
  
</div>

<style>

.sectionDivBottom{
  	max-width:1200px;
  	margin: 0px auto;
    height:100%;
  padding-bottom: 150px;">
}
</style>

{% schema %}
  {
    "name": "Period Poverty",
    "settings": [
        {
            "type": "image_picker",
            "id": "image1",
            "label": "Period Poverty image"
        },
        {
            "type": "text",
            "id": "Headline",
            "label": "Headline"
        },
        {
            "type": "text",
            "id": "Para",
            "label": "Paragraph"
        }
    ],
    "presets": [
        {
            "category": "image",
            "name":"Period poverty"
        }
    ]
  }
{% endschema %}
