<div class="page" style="padding-top:0px; padding-bottom:0px">
    <div class="rte">
{% for block in section.blocks %}
        <div class="founderstory" style="align-items: start">
            <img
                class="founderstoryImg"
                src="https://i.cbc.ca/1.6224731.1635211880!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/menstrual-pads.jpg"
                width="480px"
            />

            <div
                style="
                    display: block;
                    font-size: 13px;
                    padding-left: 30px;
                    padding-right: 30px;
                    line-height: 30px;
                "
            >
                <h6
                    class="specialH6"
                    style="
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 0px;
                    "
                >
                    CBC News: Edmonton entrepreneurs hope their eco-friendly
                    products can help end period shaming
                </h6>

                <i>Oct 27, 2021</i><br /><br />

                A lot of people are not talking about menstruation and that has
                to change, according to one health expert.
                <br /><br />
                <a
                    href="https://www.cbc.ca/news/canada/edmonton/edmonton-entrepreneurs-hope-their-eco-friendly-products-help-end-period-shaming-1.6224669"
                    style="text-decoration: inherit; margin-left: unset"
                    target="_blank"
                    ><button class="buttonMore" style="margin-left: unset">
                        Read More
                    </button></a
                >
            </div>
        </div>
{%endfor%}
</div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
