<h5 class="specialH5" style="margin-top:50px;">{{section.settings.heading}}</h5>
<a href="{{ section.settings.redirect_link.url }}" style="text-decoration:inherit;"><button class="buttonMore" style="padding: 18px 45px;">Shop Pads</button></a>

{% schema %}
  {
        "name": "Product Redirect",
        "settings": [
{
"type":"text",
"label":"headline",
"id":"heading"
},
{
"type":"collection",
"label":"Redirect Link",
"id":"redirect_link"
}
          
        ],
        "presets": [
                      {
                        "category":"image",
                        "name":"Product Redirect section"
    
                      }
    
    ]
      }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
