<h5 class="specialH5" style="margin-top:50px;">Ready to make the switch?</h5>
<a href="/collections/all" style="text-decoration:inherit;"><button class="buttonMore">Shop Pads</button></a>

{% schema %}
  {
        "name": "Product Redirect",
        "settings": [
          
        ],
        "presets": [
                      {
                        "category":"image",
                        "name":"Product Redirect section"
    
                      }
    
    ]
      }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
