<h6 class="specialH6" style="margin-top:50px;">Ready to make the switch?</h6>

{% schema %}
  {
        "name": "Product Redirect",
        "settings": [
          
        ],
        "presets": [
                      {
                        "category":"image",
                        "name":"Product Redirect section"
    
                      }
    
    ]
      }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
