 <div class="page" style="padding-top:0;padding-bottom:0">

  <div class="rte">

<div class="founderstory">
  <img class="founderstoryImgMobile"
        src="{{section.settings.image1 | image_url: master}}"  />
    <div style="display:block;font-size: 18px; padding-left: 30px; padding-right: 30px; line-height: 35px;">
      {% if section.settings.show_headline2 %}
        <h5 class="specialH5" style="text-align:left; margin:10px 0 10px 0;">{{section.settings.Headline2}}</h5>{%endif%}
		{% if section.settings.show_paragraph %}
        {{section.settings.paragraph}}
      {%endif%}
    </div>

    <img class="founderstoryImg2"
        src="{{section.settings.image1 | image_url: master}}" style = "box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
border-radius: 6px;" />
</div>
    
   </div></div>

<style>
  
  .ambassadorIcons {
  width:80px;
    height:80px;
  
  }
  
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        text-align: center;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .div4 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div5 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .div6 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .div7 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div8 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .div9 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .founderstory {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 150px;
    }

  .founderstoryImgMobile {
  display:none;
  }
  
  .founderstoryImg2 {
        display: block;
        max-width: 600px;
  }
  
  
    .founderstoryImg {
        display: block;
        width: 600px;

    }
    
  @media only screen and (max-width: 1000px){
  
  .founderstoryImg2{
        display:none;
  	margin-bottom:20px;
  }
    
    
  .founderstoryImgMobile {
  display:block;
    margin-left: auto;
            margin-right: auto;
    width:600px;
    margin-bottom:20px;
  }
    
  
  }
  

    @media only screen and (max-width: 1000px) {
      
      

        .parent {
            display: block;
          
        }
      .ambassadorIcons{
      margin-top:30px;
      }
      

        .founderstory {
            display: block;
        }

        .founderstoryImg {
            margin-left: auto;
            margin-right: auto;
          margin-bottom:20px;

        }

      
    }

</style>


{% schema %}
  {
    "name": "Right Aligned Image Text",
    "settings": [
{"type": "image_picker",
      "id": "image1",
      "label": "Image 1"},
{ "type": "text", "id":
"Headline2", "label": "Headline2" },

					{ "type": "checkbox", "id":
"show_headline2", "label": "Show Headline 2?" },
{ "type": "text", "id":
"paragraph", "label": "Paragraph" },
{ "type": "checkbox", "id":
"show_paragraph", "label": "Show Paragraph?" }
],

"presets":[
	{
		"category":"image",
		"name":"Right Aligned Image Text"
}
]
  }
{% endschema %}

