<div class="page" style="padding-top:0px; padding-bottom:0px">
    <div class="rte">
{%for block in section.blocks%}
<div class="table">
<div class="table-row">
<div class="table_cell">{{block.settings.item1}}</div>
  <div class="table_cell">{{block.settings.item2}}</div>
    <div class="table_cell">{{block.settings.item3}}</div>
</div>
   {%endfor%}
</div>
  </div>
</div>
{% schema %}
  {
    "name": "Table Blocks",
    "settings": [],
"blocks":[
{
"type":"text",
"name":"row block",
"settings":[
{ "type": "text", "id":
"item1", "label": "Item 1" },
{ "type": "text", "id":
"item2", "label": "Item 2" },
{ "type": "text", "id":
"item3", "label": "Item 3" }
]
}
],
"presets":[
	{
		"category":"Text",
		"name":"Table Block"
}
]
  }
{% endschema %}

