<div class="page" style="padding-top:0px; padding-bottom:0px">
    <div class="rte">
      <div class="table">
{%for block in section.blocks%}
<div class="table-row">
<div class="table_cell">{{block.settings.item1}}</div>
  <div class="table_cell">{{block.settings.item2}}</div>
    <div class="table_cell">{{block.settings.item3}}</div>
</div>
   {%endfor%}
</div>
  </div>
</div>

<style>
.table{
    display: table;
width: 100%;
max-width: 800px;
table-layout: fixed;
border-collapse: separate;
border-spacing: 15px 12px;
margin: 0 auto;
}
.table-row{
    display:table-row;
    width:100%;
    table-layout:fixed;
}
.table_cell{
    display: table-cell;
width: 20%;
margin: 40px;
padding: 20px;
background: #C1CC7A;
opacity:0.5;
border-radius: 6px;
text-align: center;
}
  
  @media screen and (max-width: 668px) {
  .table, .table-row, .table_cell {
    display: block;
    width: 90%;
margin: 10px auto;
  }
  

}

</style>
{% schema %}
  {
    "name": "Table Blocks",
    "settings": [],
"blocks":[
{
"type":"text",
"name":"row block",
"settings":[
{ "type": "text", "id":
"item1", "label": "Item 1" },
{ "type": "text", "id":
"item2", "label": "Item 2" },
{ "type": "text", "id":
"item3", "label": "Item 3" }
]
}
],
"presets":[
	{
		"category":"Text",
		"name":"Table Block"
}
]
  }
{% endschema %}

