<div class="sectionDiv">
  <h2 class="TestimonialHeadline">
  {{section.settings.TestimonialHeader}}
  </h2>
  <div id="outer">
  <div id="inner">
    <img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Chitra_testimonial_2x_3005287d-fe0d-4030-85bd-40fe324b952d.png?v=1633370542"/>
    <img src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Tanya_2x_aba1f0d5-7728-498a-8eb2-92bb577817b0.png?v=1634867276"/>
  </div>
  <div id="inner">
    <img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Ololade_testimonial_2x_2dc7dd9c-0984-4b25-b29a-6fead8eea168.png?v=1633370542"/>
    <img src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Xingyu_2x_0b5cf1f0-65c4-42e4-9a06-cd7c06466da0.png?v=1634867276" />
  </div>
  <div id="inner">
    <img src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Morgan_testimonial_2x_39bee892-fc5a-4099-a9a2-60055d73eb38.png?v=1633370542"/>
    <img src = "https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Jenny_2x_b4b1b1fd-e882-4b9f-8e53-c7061c259e20.png?v=1634867276"/>
  </div>
</div>
  <h3 class="PressHead">We've been featured on</h3>
  <a href="/pages/press-features" style="text-decoration:none;">
    <div>
    <img src="{{section.settings.featuresimage | img_url:'master'}}" style="padding-bottom:108px;" id="desktopimg"/>
    <img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/press_logo_cloud.png?v=1633377348" id = "mobileimg"/>
    </div>
    
  </a>
</div>

<style>
  #outer {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
    scrollbar-width: none;
    max-width:1200px;
    margin-left:auto;
  margin-right:auto;
    text-align:center;
}
#inner {
  display: inline-block;
  white-space: normal;
  width: 340px;
  margin:30px;
}
  
#desktopimg {
  display:block; 
  margin-left: auto;
margin-right: auto;}
#mobileimg {display:none}
  
@media only screen and (max-width: 699px) {
    #desktopimg {display: none;}
    #mobileimg {display: block; margin-left:auto;margin-right:auto; padding-bottom:6rem;}
}
</style>
{% schema %}
{
	"name": "Testimonials",
	"settings": [{
			"type": "text",
			"id": "TestimonialHeader",
			"label": "Testimonial Header",
			"default": "Here's what our beta-testers are saying"
			
		},
		{
			"type": "image_picker",
			"id": "testimonialimage",
			"label": "placeholder image!!!"
		},
		{
			"type": "image_picker",
			"id": "featuresimage",
			"label": "another placeholder image!!!"
		}

	],
	"presets": [{
		"category": "image",
		"name": "Testimonials"
	}]
}
{% endschema %}

