<h1 class="specialH1">{{ section.settings.Headline }}</h1>

{% schema %}
  {
    "name": "Text Section",
    "settings": [
					{ "type": "text", "id":
"Headline", "label": "Headline" }
				
				]
  }
{% endschema %}

