<div class="page">
    <div class="rte">
        <h1 class="specialH1">Press Features</h1>
        <br /><br />
      
      	<div class="founderstory" style="align-items: start">
         
          
          <iframe src="https://globalnews.ca/video/embed/8662429/" width="670" height="372" frameborder="0" allowfullscreen scrolling="no"></iframe>

            <div
                style="
                    display: block;
                    font-size: 13px;
                    padding-left: 30px;
                    padding-right: 30px;
                    line-height: 30px;
                "
            >
                <h6
                    class="specialH6"
                    style="
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 0px;
                    "
                >
                    Global News Feature: Su-Ling Goh reports on how Edmonton
                    students created sustainable period pads
                </h6>

                <i>June 22, 2021</i><br /><br />

                Story included as a part of the Global News broadcast.<br /><br />
                <a
                    href="https://globalnews.ca/video/7972886/health-matters-vaccine-menstrual-side-effect-biodegradable-pads-adaptive-bike-donation/"
                    style="text-decoration: inherit; margin-left: unset"
                    target="_blank"
                    ><button class="buttonMore" style="margin-left: unset">
                        Read More
                    </button></a
                >
            </div>
        </div>

        <div class="founderstory" style="align-items: start">
            <img
                class="founderstoryImg"
                src="https://i.cbc.ca/1.6224731.1635211880!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/menstrual-pads.jpg"
                width="480px"
            />

            <div
                style="
                    display: block;
                    font-size: 13px;
                    padding-left: 30px;
                    padding-right: 30px;
                    line-height: 30px;
                "
            >
                <h6
                    class="specialH6"
                    style="
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 0px;
                    "
                >
                    CBC News: Edmonton entrepreneurs hope their eco-friendly
                    products can help end period shaming
                </h6>

                <i>Oct 27, 2021</i><br /><br />

                A lot of people are not talking about menstruation and that has
                to change, according to one health expert.
                <br /><br />
                <a
                    href="https://www.cbc.ca/news/canada/edmonton/edmonton-entrepreneurs-hope-their-eco-friendly-products-help-end-period-shaming-1.6224669"
                    style="text-decoration: inherit; margin-left: unset"
                    target="_blank"
                    ><button class="buttonMore" style="margin-left: unset">
                        Read More
                    </button></a
                >
            </div>
        </div>

        <div class="founderstory" style="align-items: start">
            <img
                class="founderstoryImg"
                src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Combo_product_page_image_2_2__square_copy.jpg?v=1634682091"
                width="480px"
            />

            <div
                style="
                    display: block;
                    font-size: 13px;
                    padding-left: 30px;
                    padding-right: 30px;
                    line-height: 30px;
                "
            >
                <h6
                    class="specialH6"
                    style="
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 0px;
                    "
                >
                    Taproot Edmonton: Ruth wraps up Next 36, prepares to launch
                    products
                </h6>

                <i>Sept. 29, 2021</i><br /><br />

                Edmonton startup Ruth is preparing to launch its environmentally
                friendly menstrual pads on its website next month, with
                co-founders Anka Chan and Nicole Sanchez continuing to build on
                the momentum they’ve created throughout this year.
                <br /><br />
                <a
                    href="https://edmonton.taproot.news/news/2021/09/29/ruth-wraps-up-next-36-prepares-to-launch-products"
                    style="text-decoration: inherit; margin-left: unset"
                    target="_blank"
                    ><button class="buttonMore" style="margin-left: unset">
                        Read More
                    </button></a
                >
            </div>
        </div>

        <div class="founderstory" style="align-items: start">
            <img
                class="founderstoryImg"
                src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/20210607_133022_copy.webp?v=1634515561"
                width="480px"
            />

            <div
                style="
                    display: block;
                    font-size: 13px;
                    padding-left: 30px;
                    padding-right: 30px;
                    line-height: 30px;
                "
            >
                <h6
                    class="specialH6"
                    style="
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 0px;
                    "
                >
                    660 City News: Alberta students create biodegradable period
                    product in hopes of reducing plastic waste
                </h6>

                <i>Jul 5, 2021</i><br /><br />

                CALGARY (660 NEWS) — Founded by a pair of students from the
                University of Alberta, Ruth Pads, a menstrual product, is made
                from 93 per cent plant-based materials.
                <br /><br />
                <a
                    href="https://calgary.citynews.ca/2021/07/03/a-product-created-in-alberta-hopes-to-reduce-plastic-waste/"
                    style="text-decoration: inherit; margin-left: unset"
                    target="_blank"
                    ><button class="buttonMore" style="margin-left: unset">
                        Read More
                    </button></a
                >
            </div>
        </div>

        <div class="founderstory" style="align-items: start">
            <img
                class="founderstoryImg"
                src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/ruth-2.jpg?v=1634681580"
                width="480px"
            />

            <div
                style="
                    display: block;
                    font-size: 13px;
                    padding-left: 30px;
                    padding-right: 30px;
                    line-height: 30px;
                "
            >
                <h6
                    class="specialH6"
                    style="
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 0px;
                    "
                >
                    Taproot Edmonton: Local startup launches sustainable
                    menstrual products, aims to end period poverty
                </h6>

                <i>June 30, 2021</i><br /><br />

                Edmonton-based startup company Ruth recently launched its
                environmentally-friendly menstrual pads made of plant-based
                materials.
                <br /><br />
                <a
                    href="https://edmonton.taproot.news/news/2021/06/30/local-startup-launches-sustainable-menstrual-products-aims-to-end-period-poverty"
                    style="text-decoration: inherit; margin-left: unset"
                    target="_blank"
                    ><button class="buttonMore" style="margin-left: unset">
                        Read More
                    </button></a
                >
            </div>
        </div>

        <div class="founderstory" style="align-items: start">
            <img
                class="founderstoryImg"
                src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_Shot_2021-06-28_at_9_45_31_AM.webp?v=1634515561"
                width="480px"
            />

            <div
                style="
                    display: block;
                    font-size: 13px;
                    padding-left: 30px;
                    padding-right: 30px;
                    line-height: 30px;
                "
            >
                <h6
                    class="specialH6"
                    style="
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 0px;
                    "
                >
                    Edmonton Journal: Edmonton startup business creates
                    eco-friendly menstrual pads
                </h6>

                <i>June 27, 2021</i><br /><br />

                An Edmonton-based startup company is offering women an
                eco-friendly option when purchasing menstrual pads. Ruth, named
                after former U.S. associate justice of the Supreme Court Ruth
                Bader Ginsburg, officially launched on Tuesday with a
                Kickstarter campaign.<br /><br />
                <a
                    href="https://edmontonjournal.com/business/local-business/edmonton-business-creates-eco-friendly-menstrual-pad"
                    style="text-decoration: inherit; margin-left: unset"
                    target="_blank"
                    ><button class="buttonMore" style="margin-left: unset">
                        Read More
                    </button></a
                >
            </div>
        </div>

        <div class="founderstory" style="align-items: start">
            <video controls class="founderstoryVid">
                <source
                    src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Global_News_June_22_2021.mp4?v=1634517512"
                />
                Your browser does not support the video tag.
            </video>

            <div
                style="
                    display: block;
                    font-size: 13px;
                    padding-left: 30px;
                    padding-right: 30px;
                    line-height: 30px;
                "
            >
                <h6
                    class="specialH6"
                    style="
                        text-align: left;
                        margin-bottom: 10px;
                        margin-top: 0px;
                    "
                >
                    Global News Feature: Su-Ling Goh reports on how Edmonton
                    students created sustainable period pads
                </h6>

                <i>June 22, 2021</i><br /><br />

                Story included as a part of the Global News broadcast.<br /><br />
                <a
                    href="https://globalnews.ca/video/7972886/health-matters-vaccine-menstrual-side-effect-biodegradable-pads-adaptive-bike-donation/"
                    style="text-decoration: inherit; margin-left: unset"
                    target="_blank"
                    ><button class="buttonMore" style="margin-left: unset">
                        Read More
                    </button></a
                >
            </div>
        </div>

        <h1 class="specialH1">Past Press</h1>
        <br /><br />

        <div class="section group">
            <div class="col span_1_of_4">
                <a
                    href="https://www.cbc.ca/news/canada/edmonton/hempact-waste-free-period-1.5258602"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_20Shot_202021-01-07_20at_202_57_edited.webp?v=1634518487"
                    />
                    <p class="columnHead">CBC News</p>
                    <p class="columnText">
                        Edmonton students pushing for waste-free menstrual
                        products
                    </p>
                </a>
            </div>

            <div class="col span_1_of_4">
                <a
                    href="https://edmonton.citynews.ca/video/2019/08/07/are-biodegradable-pads-the-future-of-menstrual-products/"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_20Shot_202021-01-07_20at_203_04_edited.webp?v=1634518487"
                    />
                    <p class="columnHead">City News</p>
                    <p class="columnText">
                        Are biodegradable pads the future of menstrual products?
                    </p>
                </a>
            </div>

            <div class="col span_1_of_4">
                <a
                    href="https://globalnews.ca/news/5753066/university-alberta-students-hemp-waste-eco-friendly-menstrual-products/"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_Shot_2021-01-07_at_3_20_37_PM.webp?v=1634518487"
                    />
                    <p class="columnHead">Global News</p>
                    <p class="columnText">
                        U of A students look to convert hemp waste into
                        eco-friendly menstrual products
                    </p>
                </a>
            </div>

            <div class="col span_1_of_4">
                <a
                    href="https://edmonton.citynews.ca/video/2019/06/01/uofa-students-on-a-mission-to-create-biodegradable-pads/"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_Shot_2021-01-07_at_3_14_45_PM.webp?v=1634518487"
                    />
                    <p class="columnHead">City News</p>
                    <p class="columnText">
                        UofA Students on a mission to create biodegradable pads
                    </p>
                </a>
            </div>
        </div>

        <div class="section group">
            <div class="col span_1_of_4">
                <a
                    href="https://thegatewayonline.ca/2019/05/hempact-aims-to-make-hemp-biodegradable-pads/"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_Shot_2021-01-07_at_3_16_41_PM.webp?v=1634518487"
                    />
                    <p class="columnHead">The Gateway</p>
                    <p class="columnText">
                        U of A social enterprise wins $10,000 to make
                        biodegradable menstrual pads a reality
                    </p>
                </a>
            </div>

            <div class="col span_1_of_4">
                <a
                    href="https://www.ualberta.ca/folio/2019/07/u-of-a-students-look-to-cut-plastic-waste-with-hemp-based-feminine-hygiene-products.html"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_Shot_2021-01-07_at_3_18_19_PM.webp?v=1634518486"
                    />
                    <p class="columnHead">Folio</p>
                    <p class="columnText">
                        U of A students look to cut plastic waste with
                        hemp-based feminine hygiene products
                    </p>
                </a>
            </div>

            <div class="col span_1_of_4">
                <a
                    href="https://www.ualberta.ca/international/about-uai/international-news-and-views/news/2019/may/wcc-2019.html"
                    style="text-decoration: none"
                    target="_blank"
                >
                    <img
                        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Screen_Shot_2021-01-07_at_3_24_53_PM.webp?v=1634518487"
                    />
                    <p class="columnHead">UAlberta International</p>
                    <p class="columnText">
                        Creating an impact: How UAlberta students are changing
                        the way we think about waste
                    </p>
                </a>
            </div>
        </div>

        {% section 'product-redirect' %}
    </div>
</div>

<style>
    .founderstory {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    @media only screen and (max-width: 1000px) {
        .founderstory {
            display: block;
        }

        .founderstoryImg {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 2%;
        }

        .founderstoryVid {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 2%;
            width: 99%;
            object-fit: fill;
        }

        .foundername {
            text-align: center;
            margin-top: 20px;
        }
    }

    .founderstoryImg {
        display: block;
        border-radius: 2%;
    }

    .founderstoryVid {
        display: block;
        max-width: 100% !important;
        width: 480px !important;
        height: auto !important;
        border-radius: 2%;
    }
</style>
