<div class="page">
  

  <div class="rte">
    <h1 class="specialH1">Press Features</h1>
    
    <div class="founderstory" style="align-items: start;">

      <img class="founderstoryImg" 
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/20210607_133022_copy.webp?v=1634515561" width="80%" />

      <div style="display:block;font-size: 18px; padding-left: 30px; padding-right: 30px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">660 City News: Alberta students create biodegradable period product in hopes of reducing plastic waste</h5>

        <i>Jul 5, 2021</i><br /><br />

        CALGARY (660 NEWS) — Founded by a pair of students from the University of Alberta, Ruth Pads, a menstrual product, is made from 93 per cent plant-based materials.
        <br /><br />
        <a href="https://calgary.citynews.ca/2021/07/03/a-product-created-in-alberta-hopes-to-reduce-plastic-waste/" style="text-decoration:inherit; margin-left:unset;"><button class="buttonMore"
            style="margin-left:unset;">Read More</button></a>
      </div>
    </div>
    
    <h1 class="specialH1">Press Features</h1>
  </div>
</div>


<style>
  .founderstory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;

  }

  @media only screen and (max-width: 1000px) {
    .founderstory {
      display: block;
    }

    .founderstoryImg {
      margin-left: auto;
      margin-right: auto;

    }

    .foundername {
      text-align: center;
      margin-top: 20px;
    }
  }

  .founderstoryImg {
    display: block;
    border-radius: 2%;
  }
</style>