
<div class="page">


  <div class="rte">
    {% section 'aboutusContent'%}
    {% section 'product-redirect' %}

  </div>

</div>



<style>
  
  .bannerimg {
  background-image:url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Getruth_Photoshoot_39_of_76.jpg?v=1634268246");
  background-size:cover;
    background-repeat: no-repeat;
background-position: top center;
    height:200px;
  }
  .founderstory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;

  }

  @media only screen and (max-width: 1000px) {
    .founderstory {
      display: block;
    }

    .founderstoryImg {
      margin-left: auto;
      margin-right: auto;

    }

    .foundername {
      text-align: center;
      margin-top: 20px;
    }
  }

  .founderstoryImg {
    display: block;
    border-radius: 2%;
  }
</style>