<div class="page">
  

  <div class="rte">
    <h1 class="specialH1">Press Features</h1>
    
    <div class="founderstory" style="align-items: start;">

      <img class="founderstoryImg" style="border-radius:50%;margin-bottom:20px;"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/IMG_3363_edited.webp?v=1634377059" />

      <div style="display:block;font-size: 18px; padding-left: 30px; padding-right: 30px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">Nicole Sanchez</h5>

        She/her | Co-founder<br /><br />

        Nicole has always wanted to make a positive impact, and she thought that starting with a business degree with
        the hopes of later pursuing law would enable her to do that. When she came across a project wanting to create a
        sustainable alternative to menstrual pads while empowering womxn at the same time, she was introduced to the
        world of entrepreneurship. As she continued to develop the project and helped turn it into a business, she was
        shocked to find out the realities associated with menstruation - the amount of waste produced, the lack of
        innovation, the stigma, and the lack of education. Driven by her personal values and Ruth’s mission and vision,
        she leads the team in executing their marketing strategy and business development
        <br /><br />
        <a href="https://calendly.com/nsanchez97/meetings" style="text-decoration:inherit; margin-left:unset;"><button class="buttonMore"
            style="margin-left:unset;">Let's Chat!</button></a>
      </div>
    </div>
    
    <h1 class="specialH1">Press Features</h1>
  </div>
</div>


<style>
  .founderstory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;

  }

  @media only screen and (max-width: 1000px) {
    .founderstory {
      display: block;
    }

    .founderstoryImg {
      margin-left: auto;
      margin-right: auto;

    }

    .foundername {
      text-align: center;
      margin-top: 20px;
    }
  }

  .founderstoryImg {
    display: block;
    border-radius: 2%;
  }
</style>