<div class="page">
  

  <div class="rte">
    <h1 class="specialH1">Our Mission &amp; Vision</h1>
<h5 class="specialH5">Our Mission is to ruthlessly make sustainable periods easy. <br /> <br /> Our vision is threefold:</h5>
<br />
<h6 class="specialH6">​Environmental</h6>
<div style="font-size: 18px; text-align: center; padding-left: 50px; padding-right: 50px; line-height: 35px;">To give everyone the opportunity to access environmentally friendly products.</div>
<br />
<h6 class="specialH6">Social</h6>
<div style="font-size: 18px; text-align: center; padding-left: 50px; padding-right: 50px; line-height: 35px;">To work towards ending period poverty, increase quality menstrual hygiene education, and break down social barriers surrounding menstruation, using business for social good.</div>
<br />
<h6 class="specialH6">Economic</h6>
<div style="font-size: 18px; text-align: center; padding-left: 50px; padding-right: 50px; line-height: 35px;">To accelerate our growth and create sustainable economic opportunities for our stakeholders, while cultivating an environment for employees to excel and continuously advance.</div>
<br />
<h5 class="specialH5">Why Ruth?</h5>
<br />
<div style="font-size: 18px; padding-left: 50px; padding-right: 50px; line-height: 35px;">The name Ruth is special to us because we wanted to pay tribute to Ruth Bader Ginsburg, a powerful role model who fought for justice, equality, and female empowerment. RBG stood for women equality and fought her way to try and eliminate social injustices. We, at Ruth, are ruthlessly fighting with you to save the Earth one sustainable product at a time. <br /><br /> Ruth is also a symbol of generosity and kindness - in alignment with our goals of giving back to the women, girls, and people who menstruate, in most need of menstrual products. Together, let’s solve period poverty one menstrual pad at a time. <br /><br /> We want to make sustainable periods easy, and we hope you can join us.</div>
<div style="font-size: 18px; padding-left: 50px; padding-right: 50px; line-height: 35px;"><br /> Root for you. Ruth for you.</div>
<br />
<div style="font-size: 18px; padding-left: 50px; padding-right: 50px; line-height: 35px;"></div>
<div style="font-size: 18px; padding-left: 50px; padding-right: 50px; line-height: 35px;"></div>
    
<h5 class="specialH5">Founder's Story</h5>   
    
<div class = "founderstory">
    <img style = "display:block" class = "founderstoryImg" src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/PM_Photo_480x480.jpg?v=1634306630" alt="Nicole Sanchez and Anka Chan" />

    <div style="display:block;font-size: 18px; padding-left: 50px; padding-right: 50px; line-height: 35px;">Nicole and Anka met at the University of Alberta in 2018 when they joined Enactus - a student group focused on social entrepreneurship. They led a project aimed at tackling menstrual waste and launched initiatives to open up conversations surrounding menstruation, sustainable periods, and worked to create sustainable menstrual products from the lab bench. Nearly three years of prototyping and planning led them to launch their company Ruth in January 2021 - an innovative solution to menstrual waste with disposable and biodegradable pads. <br /><br /> Collectively, they have been supported as female founders and trained through Founder Institute, NEXT 36, and the League of Innovators. Ruth is proudly backed by Community Foundations Canada and NEXT Canada.</div>
</div>
  
  <br /><br />
  </div>
</div>

<style>

  .founderstory{
  display: flex;
  align-items: center;
  justify-content: center
  
  }
  
  @media only screen and (max-width: 1000px)  {
    .founderstory {
        display: block;
    } 
    
    .founderstoryImg {
    margin-left:auto;
    margin-right:auto;
    }
}
  
  .founderstoryImg {
      display: block;
  }

</style>
