<div class="page">
  

  <div class="rte">
    <h1 class="specialH1">Our Partners</h1><br/><br />
  	<div style="font-size: 18px; text-align: center; padding-left: 20px; padding-right: 20px; line-height: 35px;">Unlike
      many other disposable menstrual products, Ruth Pads don’t contain harmful plastic and are able to biodegrade
      safely into the environment.
      <br /><br />
      Help us keep our earth healthy by reducing the amount of plastic waste that goes into landfills.
    </div>
    <br/><br/>
    <img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Donation_Partners_Map.png?v=1634308464" style="margin-left:auto;margin-right:auto;display:block;width:90%;"/>
    
    <br/><br/>
    
    <div class="founderstory" style="align-items: center;">

      <img class="founderstoryImg" style="margin-bottom:20px;"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/MTS_logo.png?v=1634391627" />

      <div style="display:block;font-size: 18px; padding-left: 20px; padding-right: 20px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">Moon Time Sisters</h5>

        North Vancouver, BC<br /><br />

        We are excited to donate products to Moon Time Sisters because they are committed to providing Northern Canadian communities with menstrual products.

      </div>

    </div><br/>
    
    <div class="founderstory" >

      <img class="founderstoryImg" style="margin-bottom:20px;"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/All_Cycles.png?v=1634391627" />

      <div style="display:block;font-size: 18px; padding-left: 20px; padding-right: 20px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">All Cycles YEG</h5>

       Edmonton, AB<br /><br />

        All Cycles YEG provides menstrual products to homeless and income insecure Canadians and emphasizes inclusive menstruation within the 2SLGBTQIA+ community.

      </div>

    </div><br/>
    
    <div class="founderstory">

      <img class="founderstoryImg" style="margin-bottom:20px;"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/IWS-Logo-300x300.jpg?v=1634391627" />

      <div style="display:block;font-size: 18px; padding-left: 20px; padding-right: 20px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">International Women of Saskatoon (IWS)</h5>

       Saskatoon, SK<br /><br />

        Founded in 1985, the International Women of Saskatoon is a grassroots organization that aims to improve the status of immigrant and refugee women and their families.

      </div>

    </div><br/>
    
    <div class="founderstory" >

      <img class="founderstoryImg" style="margin-bottom:20px;"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/91501039_10156738578952364_2810901369035161600_n_0.png?v=1634391627" />

      <div style="display:block;font-size: 18px; padding-left: 20px; padding-right: 20px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">YMCA Sprott House</h5>

       Toronto, ON<br /><br />

       The YMCA Sprott House is one of Canada's first transitional housing programs for LGBTQ2S+ youth. Serving the Greater Toronto Area, the Sprott House first opened its doors in 2007.

      </div>

    </div><br/>
    
    <div class="founderstory" >

      <img class="founderstoryImg" style="margin-bottom:20px;"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/English-Dark-Letters-PNG.png?v=1634391627" />

      <div style="display:block;font-size: 18px; padding-left: 20px; padding-right: 20px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">Shepherds of Good Hope</h5>

       Ottawa, ON<br /><br />

       Shepherds of Good Hope supports those experiencing homeless and aims to reduce harm in Ottawa. They provide specialized shelter programs, supportive housing facilities, and many other programs that support their community.

      </div>

    </div><br/>
    
    <div class="founderstory" >

      <img class="founderstoryImg" style="margin-bottom:20px;"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/image_6.png?v=1634391627" />

      <div style="display:block;font-size: 18px; padding-left: 20px; padding-right: 20px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">Chez Doris</h5>

       Montréal, QC<br /><br />

      Chez Doris provides shelter and support to women in need, with programs specifically for Inuit and Indigenous women.
      </div>

    </div><br/>
    
    <div class="founderstory" >

      <img class="founderstoryImg" style="margin-bottom:20px;"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/St_Johns_Womens_Shelter.png?v=1634391627" />

      <div style="display:block;font-size: 18px; padding-left: 20px; padding-right: 20px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">St. John's Women's Centre</h5>

      St. John's, NL<br /><br />

       From its inception in 1973, the St. John's Women's Centre started the province's first rape crisis centre and transition house for women fleeing domestic violence. The St. John's Women's Centre is a shelter that offers a safe and non-judgemental place for women. 
      </div>

    </div><br/>
  </div>
</div>


<style>
  .founderstory {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 100px;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
	
  }

  @media only screen and (max-width: 1000px) {
    .founderstory {
      display: block;
    }

    .founderstoryImg {
      margin-left: auto;
      margin-right: auto;

    }

    .foundername {
      text-align: center;
      margin-top: 20px;
    }
  }

  .founderstoryImg {
    margin-top:10px;
    display: block;
    border-radius: 2%;
    width:150px;
    height:100%;
  }
</style>