<div class="page">
  

  <div class="rte">
    
    
    <h1 class="specialH1">Sustainable Periods</h1>
    <div style="font-size: 18px; text-align: center; padding-left: 10px; padding-right: 10px; line-height: 35px;">Unlike many other disposable menstrual products, Ruth Pads don’t contain harmful plastic and are able to biodegrade safely into the environment.
<br/><br/>
Help us keep our earth healthy by reducing the amount of plastic waste that goes into landfills.</div>
    
  </div>
</div>
