<div class="page">
  

  <div class="rte">
    <h1 class="specialH1">Our Partners</h1><br/><br />
  	<div style="font-size: 18px; text-align: center; padding-left: 20px; padding-right: 20px; line-height: 35px;">Unlike
      many other disposable menstrual products, Ruth Pads don’t contain harmful plastic and are able to biodegrade
      safely into the environment.
      <br /><br />
      Help us keep our earth healthy by reducing the amount of plastic waste that goes into landfills.
    </div>
    
    <img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Donation_Partners_Map.png?v=1634308464" style="margin-left:auto;margin-right:auto;display:block;width:90%;"/>
  </div>
</div>
