<div class ="mobileimg">
	
</div>

<section class="image-with-text image-with-text--full_background" style ="position:relative;" >
  <div class="image-with-text__inner grid grid--2-col-tablet">
    
    <div class="image-with-text__content
      image-with-text__content--{{ section.settings.text_size }}
       {% if section.settings.enable_secondary_text_color %} image-with-text__content--secondary-text-color{% endif %} 
       {% if section.settings.mobile_layout == 'top' %} image-with-text__content--mobile-image-top{% endif %}"> 

      
        <h2 class="header2stuff" style="margin-bottom:17px;">
          Ruthlessly Sustainable: <br/>Make Your Everyday Greener
        </h2>
      


      <div class="image-with-text__text rte" style="font-size:25px;">Tips, tricks, and sustainable swaps<br/></div><div class="image-with-text__text rte">April 21 | 5PM MT / 7PM ET<br/>REGISTRATION NOW OPEN</div>


        <a class="image-with-text__button button lightbutton" href="https://www.eventbrite.com/e/ruthlessly-sustainable-make-your-everyday-greener-tickets-310668777677" target="_blank">
          Save your spot now!
        </a>
      
    </div>

    {%- if section.settings.desktop_layout == 'right' -%}{{ image_template }}{%- endif -%}
  </div>
</section>

<div class="page">
  
  <div class="rte">
    <div class="sectionDiv">
<p class="aboutparas">It’s Earth Day and we want to make it easier for you to switch. On April 21 at 5 MT/7 PM ET, this Earth Day webinar hosted by Ruth and sponsored by Energy Futures Lab will share the importance of sustainability and provide our audience with simple and effective tools for a greener lifestyle. The event aims to bring useful and practical tools with simple swaps and everyday tips to demonstrate that you can and are the change that you want to see for a more eco-friendly planet - whether that be in the home, school, workplace, and everywhere in between. 
Guest speaker to be announced!
</p>
  </div>
</div>
</div>
  

<div class="BiosSection">
  
  
  </div>

<a href="https://www.eventbrite.com/e/ruthlessly-sustainable-make-your-everyday-greener-tickets-310668777677" style="text-decoration:inherit;"><button class="buttonMore" style="padding: 18px 45px; margin:40px auto;">Register now!</button></a>
  
  
  <div class="page">
  
  <div class="rte">
<div class="section group">
	<div class="col span_1_of_4">
    <img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Notebook_icon_12c51ed7-b752-4b36-90e6-f4f54849782f.png?v=1644517138" width="130px" height="130px"/>
      <p class="columnHead">Be informed</p>
      <p class="columnText">Gain insight on topics such as sustainability  in different environments and industries.</p>
	</div>
	<div class="col span_1_of_4">
	<img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Fist_icon_e86cfe6a-d7c3-47de-bbd1-79f515d9abc3.png?v=1644517138" width="130px" height="130px"/>
      <p class="columnHead">Be Empowered & Inspired</p>
      <p class="columnText">You will be left feeling empowered and inspired to make a different with simple and practice sustainable swaps, tips and tricks. </p>
	</div>
	<div class="col span_1_of_4">
	<img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Speech_bubble_icon_a218d7d8-2086-47b7-a4b1-12265f51b081.png?v=1644517138" width="130px" height="130px"/>
      <p class="columnHead">By attending</p>
      <p class="columnText">You will hear and receive knowledge from inspiring local leaders who are making a difference with sustainable initiatives, have a chance for Q&A and be able to win some fun and exciting prizes! </p>
	</div>
	
</div>
</div>
    
<!--     <a class="image-with-text__button button" href="https://www.eventbrite.com/e/ruthlessly-resilient-the-power-of-using-your-voice-tickets-263755037417" target="_blank" style="margin:0 auto;display:block;width:250px;color:#fff;" >
          Register for free
        </a> -->
  </div>
</div>



<style>
  .BiosSection{
  background-image:url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Event_headshots_with_logos.png?v=1649949694");
  height:650px;
    background-position: bottom center;
    background-size: contain;
max-width: 1200px;
margin: 0 auto;
    background-repeat: no-repeat;}
  
  @media only screen and (max-width: 1500px) {
    .BiosSection{
    height:440px;
    }
    
    .aboutParas{
    margin-top:120px;
    }
    } 
  
  
  
  @media only screen and (max-width: 850px) {
    .BiosSection{
      background-size: cover;
      background-repeat: no-repeat;
      height:400px;
    }
  
  }
  
  @media only screen and (max-width: 700px) {
    .BiosSection{
      background-size: cover;
      background-repeat: no-repeat;
      height:360px;
    }
  
  }
  
  
  @media only screen and (max-width: 510px) {
    .BiosSection{
/*     background-image:url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/1.png?v=1646280204"); */
      background-size: cover;
      background-repeat: no-repeat;
      height:302px;
    }
    
  
  }
  
  @media only screen and (max-width: 440px) {
    .BiosSection{
/*     background-image:url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/1.png?v=1646280204"); */
      background-size: contain;
      background-repeat: no-repeat;
      height:440px;
    }
    
    .page{
    padding-top:0px;
      padding-bottom:0px;
    
    }
  
  } 
  
  .image-with-text--full_background{
  background-image:url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/option_1_no_sponsors.png?v=1649949126");
  height:750px;
    background-position: bottom right;
    background-size: cover;
    
  }
  
  .header2stuff{
  font-family:"montserrat-v18-latin-600"!important;
  font-size:50px;
  color:#fff;
   
  }
  
  .image-with-text__inner{
  padding:12rem 6rem;
  
  }
  
  .image-with-text__text{
  color:#fff;
  font-family:"montserrat-v18-latin-600"!important;
  font-size:17px;
  }
  
  .lightbutton{
  color:#5D633B;
    background-color:#fff;
    box-shadow:8px 8px #5D633B;
    padding:22px 32px;
    margin-top:40px;

  
  }
  
  .lightbutton:hover{
  color:#fff;
    background-color:#5D633B;
  box-shadow:0px 0px 0 0rem #5D633B;
  }
  
  .mobileimg{
  display:none;
     background-image:url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Event_banner_image_mobile.jpg?v=1644528439");
 height:300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  }
  
  .grid--2-col-tablet {
  grid-template-columns: repeat(1,1fr);
}
  
  
  @media only screen and (max-width: 600px) {
    
    .mobileimg{
      display:block;}
    
    .image-with-text--full_background{
    background-image:none;
    }
    
    .header2stuff{
    font-size:30px;
      color:#768052;
    margin:0rem 3.2rem;
    }
    
    .image-with-text__text{
    	color:#768052;
      font-size:15px;
      margin:0rem 3.2rem;
    }
    
    .lightbutton{
  color:#fff;
    background-color:#768052;
    box-shadow:8px 8px #C1CC7A;
    
    
margin:40px 3.2rem;
  
  }
    
    .image-with-text__inner{
  padding:5rem 1rem;
  
  }
    
    .image-with-text--full_background{
    height:unset;
    
    }
    
  }


</style>



