<div class="page">
  

  <div class="rte">
    <h1 class="specialH1">Our Partners</h1><br/><br />
  	<div style="font-size: 18px; text-align: center; padding-left: 20px; padding-right: 20px; line-height: 35px;">Unlike
      many other disposable menstrual products, Ruth Pads don’t contain harmful plastic and are able to biodegrade
      safely into the environment.
      <br /><br />
      Help us keep our earth healthy by reducing the amount of plastic waste that goes into landfills.
    </div>
    <br/><br/>
    <img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Donation_Partners_Map.png?v=1634308464" style="margin-left:auto;margin-right:auto;display:block;width:90%;"/>
    
    <br/><br/>
    
    <div class="founderstory" style="align-items: start;">

      <img class="founderstoryImg" style="margin-bottom:20px;"
        src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/MTS_logo.png?v=1634391627" />

      <div style="display:block;font-size: 18px; padding-left: 20px; padding-right: 20px; line-height: 35px;">

        <h5 class="specialH5" style="text-align:left;margin-bottom:10px;margin-top:0px;">Moon Time Sisters</h5>

        North Vancouver, BC<br /><br />

        We are excited to donate products to Moon Time Sisters because they are committed to providing Northern Canadian communities with menstrual products.

      </div>

    </div>
  </div>
</div>


<style>
  .founderstory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;

  }

  @media only screen and (max-width: 1000px) {
    .founderstory {
      display: block;
    }

    .founderstoryImg {
      margin-left: auto;
      margin-right: auto;

    }

    .foundername {
      text-align: center;
      margin-top: 20px;
    }
  }

  .founderstoryImg {
    display: block;
    border-radius: 2%;
  }
</style>