<div class ="mobileimg">
	
</div>

<section class="image-with-text image-with-text--full_background" style ="position:relative;" >
  <div class="image-with-text__inner grid grid--2-col-tablet">
    
    <div class="image-with-text__content
      image-with-text__content--{{ section.settings.text_size }}
       {% if section.settings.enable_secondary_text_color %} image-with-text__content--secondary-text-color{% endif %} 
       {% if section.settings.mobile_layout == 'top' %} image-with-text__content--mobile-image-top{% endif %}"> 

      
        <h2 class="header2stuff" style="margin-bottom:17px;">
          <b><i>Ruth IRL:</i></b><br/> Menstrual Hygiene Day Celebration
        </h2>
      


      <div class="image-with-text__text rte" style="font-size:25px;">Destigmatize the conversation around Menstruation<br/></div><div class="image-with-text__text rte">May 28 | GTA | Edmonton | Vancouver</div>


        <a class="image-with-text__button button lightbutton" href="/pages/subscribe" target="_blank">
          Get Updates!
        </a>
      
    </div>

    
  </div>
</section>

<div class="page">
  
  <div class="rte">
    <div class="sectionDiv">
      <p class="aboutparas" style="max-width:900px">Ruth is coming to a city near you for <b>Menstrual Hygiene Day</b>!<br/><br/>

Have you ever felt shame, guilt or confusion around your period? Let’s talk, IRL!<br/><br/>

In honor of Menstrual Hygiene Day (MH Day) on Sat. May 28th, we are launching a campaign that destigmatizes the conversation of menstruation & educates people about the importance of sustainable period care. At Ruth, we're passionate about making sustainable periods easy, building a strong, and trusting community that cares while destimagtizing period talks.<br/><br/>

We are so excited to meet you all in person! <br/><br/>

You won’t want to miss Ruth IRL to celebrate MH Day - we’ve got giveaways, activities, chances to win exciting prizes, be a part of the conversation, have your voice heard, meet the Ruth team and more!<br/><br/>

        <b>The Pop Line Up</b> <br/>
        <a href = "https://goo.gl/maps/BEGkb5DTZzGLSrvj9" target="_blank">Patagonia Downtown Toronto</a> @ 12-4 PM EST<br/>
        <a href = "https://goo.gl/maps/wZ6sXjvQt2NFKztL7" target = "_blank">Central Social Hall on Jasper Ave</a> @ 12-3 PM MST<br/>
        <a href = "https://goo.gl/maps/iQHkEPpgJ647MbP9A" target="_blank">Saje Wellness at Lonsdale Quay Market</a> @ 12-4 PM<br/>
 <br/>
Free Samples at:<br/>
Edmonton<br/>
        <a href = "https://goo.gl/maps/yEdyF3xx13JepUCR9" target="_blank">Remedy Cafe on Whyte Ave.</a> & on <a href = "https://g.page/remedy-cafe-edmonton?share" target="_blank">124th</a> | <a href = "https://goo.gl/maps/1CUgS71XbBqm6duw6" target="_blank">Good Goods Co</a><br/>
 <br/>
Vancouver<br/>
        <a href ="https://goo.gl/maps/sqxcC6ae2yYqUNkk8" target="_blank">The Garden Strathcona</a> | <a href ="https://goo.gl/maps/rwLfMLBhapYVppzX6" target="_blank">Pharmasave in Surrey</a><br/>
 <br/>
Toronto<br/>
        <a href = "https://goo.gl/maps/wHn8cXccaGdenW3k8" target="_blank">Lip Labs by Bite Beauty</a><br/>
<br/>
<br/>
Mark Your Calendars - May 28th.<br/>
<br/>
Live Stream (IG)<br/>

</p>
      <a href="/pages/subscribe" style="text-decoration:inherit;"><button class="buttonMore" style="padding: 18px 45px; margin:40px auto;">Get Updates!</button></a>
  <a href="http://getruth.ca/blogs/ruth-blog/mhday" style="text-decoration:inherit;"><button class="buttonMore" style="padding: 18px 45px; margin:40px auto;">Learn more about Menstrual Hygiene Day</button></a>

    </div>
</div>
 
</div>
  

<!-- <a href="https://www.eventbrite.com/e/ruthlessly-sustainable-make-your-everyday-greener-tickets-310668777677" style="text-decoration:inherit;"><button class="buttonMore" style="padding: 18px 45px; margin:40px auto;">Register now!</button></a> -->
  
  
  <div class="page">
  
  <div class="rte">
<div class="section group">
	<div class="col span_1_of_4">
    <img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/output-onlinepngtools_3e189725-e6b3-4d14-9639-6ad2ea2db0ae.png?v=1652474736" width="130px" height="130px"/>
      <p class="columnHead">Talk about periods and sustainability with people who care about you</p>
<!--       <p class="columnText">Talk about periods and sustainability with people who care about you</p> -->
	</div>
	<div class="col span_1_of_4">
	<img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/output-onlinepngtools_3e189725-e6b3-4d14-9639-6ad2ea2db0ae.png?v=1652474736" width="130px" height="130px"/>
      <p class="columnHead">Be Empowered & Inspired</p>
<!--       <p class="columnText">You will be left feeling empowered and inspired to make a different with simple and practice sustainable swaps, tips and tricks. </p> -->
	</div>
	<div class="col span_1_of_4">
	<img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/output-onlinepngtools_3e189725-e6b3-4d14-9639-6ad2ea2db0ae.png?v=1652474736" width="130px" height="130px"/>
      <p class="columnHead">Participate in a fun event with giveaways and prizes </p>
<!--       <p class="columnText">You will hear and receive knowledge from inspiring local leaders who are making a difference with sustainable initiatives, have a chance for Q&A and be able to win some fun and exciting prizes! </p> -->
	</div>
	
</div>
</div>
    
<!--     <a class="image-with-text__button button" href="https://www.eventbrite.com/e/ruthlessly-resilient-the-power-of-using-your-voice-tickets-263755037417" target="_blank" style="margin:0 auto;display:block;width:250px;color:#fff;" >
          Register for free
        </a> -->
    <h5 class="specialH5" style="margin-top:50px;">Want to join the period party?</h5>
<a href="https://forms.gle/ynyA5enkgHFXNkAw8" style="text-decoration:inherit;"><button class="buttonMore" style="padding: 18px 45px;">Volunteer with us!</button></a>
<br/><br/><br/>
  </div>


</div>

<!-- <div class="BiosSection">
  
  
  </div> -->
<h5 class="specialH5" style="margin-top:50px;">Thank you to our partners!<br/><br/>
</h5>
<img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/MH_Day_Celebration_Banner_Webpage_Image_7.png?v=1653405613" />


<!-- <a href="https://forms.gle/F3jFGNEf43qxYdqm8" style="text-decoration:inherit;"><button class="buttonMore" style="padding: 18px 45px;">Connect with us!</button></a>
<br/><br/><br/> -->

<style>
  .BiosSection{
  background-image:url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/sponsorsimg.png?v=1652475041");
  height:650px;
    background-position: bottom center;
    background-size: contain;
max-width: 1200px;
margin: 0 auto;
    background-repeat: no-repeat;}
  
  @media only screen and (max-width: 1500px) {
    .BiosSection{
    height:440px;
    }
    
    .aboutParas{
    margin-top:120px;
    }
    } 
  
  
  
  @media only screen and (max-width: 850px) {
    .BiosSection{
      background-size: cover;
      background-repeat: no-repeat;
      height:400px;
    }
  
  }
  
  @media only screen and (max-width: 700px) {
    .BiosSection{
      background-size: cover;
      background-repeat: no-repeat;
      height:360px;
    }
  
  }
  
  
  @media only screen and (max-width: 510px) {
    .BiosSection{
/*     background-image:url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/1.png?v=1646280204"); */
      background-size: cover;
      background-repeat: no-repeat;
      height:302px;
    }
    
  
  }
  
  @media only screen and (max-width: 440px) {
    .BiosSection{
/*     background-image:url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/1.png?v=1646280204"); */
      background-size: contain;
      background-repeat: no-repeat;
      height:240px;
    }
    
    .page{
    padding-top:0px;
      padding-bottom:0px;
    
    }
  
  } 
  
  .image-with-text--full_background{
  background-image: url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/lightgreenimg.png?v=1652477056");
  height:750px;
    background-position: center right;
    background-size: cover;
    
  }
  
  .header2stuff{
  font-family:"montserrat-v18-latin-600"!important;
  font-size:50px;
  color:#fff;
   text-shadow: 3px 3px 7px #5D633B;
  }
  
  .image-with-text__inner{
  padding:12rem 6rem;
  
  }
  
  .image-with-text__text{
  color:#fff;
   text-shadow: 3px 3px 7px #5D633B;
  font-family:"montserrat-v18-latin-600"!important;
  font-size:17px;
  }
  
  .lightbutton{
  color:#5D633B;
    background-color:#fff;
    box-shadow:8px 8px #5D633B;
    padding:22px 32px;
    margin-top:40px;

  
  }
  
  .lightbutton:hover{
  color:#fff;
    background-color:#5D633B;
  box-shadow:0px 0px 0 0rem #5D633B;
  }
  
  .mobileimg{
  display:none;
     background-image:url("https://cdn.shopify.com/s/files/1/0587/8674/2454/files/MH_Day_Celebration_Banner_Webpage_Image.png?v=1652472316");
 height:300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  }
  
  .grid--2-col-tablet {
  grid-template-columns: repeat(1,1fr);
}
  
  
  @media only screen and (max-width: 600px) {
    
    .mobileimg{
      display:block;}
    
    .image-with-text--full_background{
    background-image:none;
    }
    
    .header2stuff{
    font-size:30px;
      color:#768052;
    margin:0rem 3.2rem;
      text-shadow:unset;
    }
    
    .image-with-text__text{
    	color:#768052;
      font-size:15px;
      margin:0rem 3.2rem;
      text-shadow:unset;
    }
    
    .lightbutton{
  color:#fff;
    background-color:#768052;
    box-shadow:8px 8px #C1CC7A;
    
    
margin:40px 3.2rem;
  
  }
    
    .image-with-text__inner{
  padding:5rem 1rem;
  
  }
    
    .image-with-text--full_background{
    height:unset;
    
    }
    
  }


</style>



