<div class="page">


  <div class="rte">


    <h1 class="specialH1">Sustainable Periods</h1><br /><br /><br />
    <div style="font-size: 18px; text-align: center; padding-left: 10px; padding-right: 10px; line-height: 35px;">Unlike
      many other disposable menstrual products, Ruth Pads don’t contain harmful plastic and are able to biodegrade
      safely into the environment.
      <br /><br />
      Help us keep our earth healthy by reducing the amount of plastic waste that goes into landfills.
    </div>

    <br /><br /><br />

    <h5 class="specialH5">Made with Renewable Materials</h5><br /><br />

    <div class="section group">
      <div class="col span_1_of_4" style="margin:0px 20px;">
        <img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Kenaf_fibre_2x.webp?v=1634386769" />
        <p class="columnHead">Kenaf Fibre</p>
        <p class="columnText">Renewable plant source that is beneficial for farmers to use, as it increases soil health!
        </p>
      </div>
      <div class="col span_1_of_4" style="margin:0px 20px;">
        <img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Bioplastic_2x.webp?v=1634386769" />
        <p class="columnHead">Starch-based Bioplastic</p>
        <p class="columnText">Renewable materials that require less greenhouse gas emissions to produce than regular
          plastic (polyethylene and polypropylene).</p>
      </div>

      <br /><br /><br />

      <h5 class="specialH5">Key Product Features</h5>

      <div class="section group">
        <div class="col span_1_of_4" style="margin:0px 10px;">

          <p class="columnHead">Biodegradable</p>
          <p class="columnText">Most disposable menstrual products can take up to 800 years to degrade. Ruth Pads are
            different. Our pads biodegrade in only one year without leaving behind any harmful
            microplastics. Say goodbye to menstrual products that are harmful to the environment, and
            hello to sustainable Ruth Pads.</p>
        </div>
        <div class="col span_1_of_4" style="margin:0px 10px;">

          <p class="columnHead">Disposable</p>
          <p class="columnText">Unlike other sustainable menstrual options, Ruth Pads are completely disposable. You’ll
            never have to worry about washing your menstrual products again with our sustainable pads. Convenient for
            eco-conscious menstruators on the go or too busy to wash reusable items. Sustainability is easy with Ruth
            Pads.</p>
        </div>
        <div class="col span_1_of_4" style="margin:0px 10px;">

          <p class="columnHead">Renewable materials</p>
          <p class="columnText">Our pads are made from natural materials including kenaf fibre, wood pulp, and a
            corn-based
            waterproof backing layer. Ruth Pads are free from harmful plastics, allowing you to have a safe,
            environmentally friendly period.</p>
        </div>
        <div class="col span_1_of_4" style="margin:0px 10px;">

          <p class="columnHead">Comfortable</p>
          <p class="columnText">Breathable and irritation-free, Ruth Pads are incredibly soft and comfortable to wear.
            The highly absorbent layers will keep you feeling dry and secure throughout your period. Our beta-testers
            rated comfort at 83% and some said that our pads are so comfortable, they forgot they were wearing it.</p>
        </div>
      </div>
      
      <br /><br /><br />
      
      <h5 class="specialH5">The Breakdown</h5>
      <br/><br/>
      <img src="https://cdn.shopify.com/s/files/1/0587/8674/2454/files/Pads_diagram_color_b0ae4e39-a28a-4c70-abb2-01fe46fce03c.png?v=1634387478" style="display:block;margin-left:auto;margin-right:auto;width:600px;"/>

    </div>
  </div>
</div>